In [6]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
import statsmodels.api as sm

In [7]:
file = r'C:\Final Project\Final Data\counter.csv'
df = pd.read_csv(file)

In [8]:
df

,sex,current_data_year,month_of_death,age,education,activity,race,ICD,occurence
0,F,2005,1,1,0.0,9.0,1,20,48
1,F,2005,1,1,0.0,9.0,2,20,22
2,F,2005,1,1,0.0,9.0,3,20,1
3,F,2005,1,1,0.0,9.0,4,20,1
4,F,2005,1,1,0.0,10.0,1,1,8
5,F,2005,1,1,0.0,10.0,1,2,11
6,F,2005,1,1,0.0,10.0,1,3,2
7,F,2005,1,1,0.0,10.0,1,4,6
8,F,2005,1,1,0.0,10.0,1,6,12
9,F,2005,1,1,0.0,10.0,1,9,13
10,F,2005,1,1,0.0,10.0,1,10,12
11,F,2005,1,1,0.0,10.0,1,11,12
12,F,2005,1,1,0.0,10.0,1,14,5
13,F,2005,1,1,0.0,10.0,1,16,180
14,F,2005,1,1,0.0,10.0,1,17,114
15,F,2005,1,1,0.0,10.0,1,18,48
16,F,2005,1,1,0.0,10.0,2,1,8
17,F,2005,1,1,0.0,10.0,2,2,1
18,F,2005,1,1,0.0,10.0,2,3,1
19,F,2005,1,1,0.0,10.0,2,4,1
20,F,2005,1,1,0.0,10.0,2,6,4
21,F,2005,1,1,0.0,10.0,2,9,5
22,F,2005,1,1,0.0,10.0,2,10,8
23,F,2005,1,1,0.0,10.0,2,11,6
24,F,2005,1,1,0.0,10.0,2,14,3
25,F,2005,1,1,0.0,10.0,2,16,103
26,F,2005,1,1,0.0,10.0,2,17,31
27,F,2005,1,1,0.0,10.0,2,18,29
28,F,2005,1,1,0.0,10.0,3,1,1
29,F,2005,1,1,0.0,10.0,3,9,1
...,...,...,...,...,...,...,...,...,...
499775,M,2014,12,21,1.0,10.0,1,18,17
499776,M,2014,12,21,1.0,10.0,2,1,1
499777,M,2014,12,21,1.0,10.0,2,2,6
499778,M,2014,12,21,1.0,10.0,2,5,2
499779,M,2014,12,21,1.0,10.0,2,6,3
499780,M,2014,12,21,1.0,10.0,2,9,13
499781,M,2014,12,21,1.0,10.0,2,10,2
499782,M,2014,12,21,1.0,10.0,2,14,3
499783,M,2014,12,21,1.0,10.0,2,18,1
499784,M,2014,12,21,1.0,10.0,4,1,1
499785,M,2014,12,21,1.0,10.0,4,2,2
499786,M,2014,12,21,1.0,10.0,4,4,1
499787,M,2014,12,21,1.0,10.0,4,5,1
499788,M,2014,12,21,1.0,10.0,4,6,2
499789,M,2014,12,21,1.0,10.0,4,9,6
499790,M,2014,12,21,1.0,10.0,4,10,2
499791,M,2014,12,21,1.0,10.0,4,11,1
499792,M,2014,12,21,1.0,10.0,4,14,1
499793,M,2014,12,21,2.0,10.0,1,5,1
499794,M,2014,12,21,2.0,10.0,1,9,2
499795,M,2014,12,21,2.0,10.0,1,10,3
499796,M,2014,12,21,2.0,10.0,1,14,1
499797,M,2014,12,21,3.0,10.0,1,10,2
499798,M,2014,12,22,1.0,9.0,1,20,1
499799,M,2014,12,22,1.0,10.0,1,9,2
499800,M,2014,12,22,1.0,10.0,1,11,1
499801,M,2014,12,22,1.0,10.0,1,18,5
499802,M,2014,12,22,1.0,10.0,2,9,2
499803,M,2014,12,22,1.0,10.0,2,10,1
499804,M,2014,12,22,1.0,10.0,2,11,1

In [9]:
df_sex = pd.get_dummies(df['sex'],prefix='sex')
df_year = df['current_data_year'] - 2004
df_month = df['month_of_death']
df_edu = pd.get_dummies(df['education'],prefix = 'edu')
df_edu.columns = ['primary or less','high school','college or higher','edu not stated']
df_age = pd.get_dummies(df['age'],prefix='age')
df_age.columns = ['age_0-4','age_5-9','age_10-14','age_15-19','age_20-24','age_25-29','age_30-34','age_35-39','age_40-44','age_45-49','age_50-54','age_55-59','age_60-64','age_65-69','age_70-74','age_75-79','age_80-84','age_85-89','age_90-94','age_95-99','age_100 and over','age_not_stated']
df_act = pd.get_dummies(df['activity'],prefix='activity')
df_race = pd.get_dummies(df['race'],prefix='race')

In [10]:
df_year_cub = df_year ** (0.33)
df_year_sqrt = np.sqrt(df_year)
df_year_2 = (df_year)**2
df_year_3 = (df_year)**3
df_year_4 = (df_year)**4
df_month_cub = df_month ** (0.33)
df_month_sqrt = np.sqrt(df_month)
df_month_2 = (df_month)**2
df_month_3 = (df_month)**3
df_month_4 = (df_month)**4
df_year = pd.concat([df_year,df_year_cub,df_year_sqrt,df_year_2,df_year_3,df_year_4],axis = 1,join_axes=[df_year.index])
df_month = pd.concat([df_month,df_month_cub,df_month_sqrt,df_month_2,df_month_3,df_month_4],axis = 1,join_axes=[df_month.index])
df_year.columns = ['year','year^0.33','year^0.5','year^2', 'year^3', 'year^4']
df_month.columns = ['month','month^0.33','month^0.5','month^2', 'month^3', 'month^4']

In [11]:
data = pd.concat([df_sex,df_year,df_month,df_age,df_act,df_race,df_edu,df['ICD'],df['occurence']],axis = 1,join_axes=[df_sex.index])

In [24]:
data

,sex_F,sex_M,year,year^0.33,year^0.5,year^2,year^3,year^4,month,month^0.33,...,race_1,race_2,race_3,race_4,primary or less,high school,college or higher,edu not stated,ICD,occurence
0,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,20,48
1,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,20,22
2,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,0,1,0,1,0,0,0,20,1
3,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,0,0,1,1,0,0,0,20,1
4,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,1,8
5,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,2,11
6,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,3,2
7,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,4,6
8,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,6,12
9,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,9,13
10,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,10,12
11,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,11,12
12,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,14,5
13,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,16,180
14,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,17,114
15,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,1,0,0,0,1,0,0,0,18,48
16,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,1,8
17,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,2,1
18,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,3,1
19,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,4,1
20,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,6,4
21,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,9,5
22,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,10,8
23,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,11,6
24,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,14,3
25,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,16,103
26,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,17,31
27,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,1,0,0,1,0,0,0,18,29
28,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,0,1,0,1,0,0,0,1,1
29,1,0,1,1.000000,1.000000,1,1,1,1,1.000000,...,0,0,1,0,1,0,0,0,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499775,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,1,0,0,18,17
499776,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,1,1
499777,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,2,6
499778,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,5,2
499779,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,6,3
499780,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,9,13
499781,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,10,2
499782,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,14,3
499783,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,18,1
499784,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,1,1
499785,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,2,2
499786,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,4,1
499787,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,5,1
499788,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,6,2
499789,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,9,6
499790,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,10,2
499791,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,11,1
499792,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,0,0,1,0,1,0,0,14,1
499793,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,0,1,0,5,1
499794,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,0,1,0,9,2
499795,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,0,1,0,10,3
499796,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,0,1,0,14,1
499797,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,0,0,1,10,2
499798,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,1,0,0,20,1
499799,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,1,0,0,9,2
499800,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,1,0,0,11,1
499801,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,1,0,0,0,0,1,0,0,18,5
499802,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,9,2
499803,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,10,1
499804,0,1,10,2.137962,3.162278,100,1000,10000,12,2.270543,...,0,1,0,0,0,1,0,0,11,1

In [25]:
data.columns

Index(['sex_F', 'sex_M', 'year', 'year^0.33', 'year^0.5', 'year^2', 'year^3',
       'year^4', 'month', 'month^0.33', 'month^0.5', 'month^2', 'month^3',
       'month^4', 'age_0-4', 'age_5-9', 'age_10-14', 'age_15-19', 'age_20-24',
       'age_25-29', 'age_30-34', 'age_35-39', 'age_40-44', 'age_45-49',
       'age_50-54', 'age_55-59', 'age_60-64', 'age_65-69', 'age_70-74',
       'age_75-79', 'age_80-84', 'age_85-89', 'age_90-94', 'age_95-99',
       'age_100 and over', 'age_not_stated', 'activity_0.0', 'activity_1.0',
       'activity_2.0', 'activity_3.0', 'activity_4.0', 'activity_8.0',
       'activity_9.0', 'activity_10.0', 'race_1', 'race_2', 'race_3', 'race_4',
       'primary or less', 'high school', 'college or higher', 'edu not stated',
       'ICD', 'occurence'],
      dtype='object')

In [26]:
table = shuffle(data[data['ICD']==2])
X = table.iloc[:,:-2]
y = table['occurence']
X = sm.add_constant(X)
model = sm.GLM(y, X, family=sm.families.Poisson()).fit()
print (model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              occurence   No. Observations:                47196
Model:                            GLM   Df Residuals:                    47150
Model Family:                 Poisson   Df Model:                           45
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -4.0317e+05
Date:                Sun, 08 Dec 2019   Deviance:                   6.0122e+05
Time:                        14:46:31   Pearson chi2:                 7.11e+05
No. Iterations:                   100   Covariance Type:             nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                29.0458      1.575     18.443      0.000      25.959      32.133
sex_F                14.4778      0.787     18.385      0.000      12.934      16.021
sex_M                14.5679      0.787     18.500      0.000      13.025      16.111
year                 -3.5764      1.692     -2.113      0.035      -6.894      -0.259
year^0.33           -26.9676     13.075     -2.063      0.039     -52.594      -1.341
year^0.5             24.1922     11.661      2.075      0.038       1.338      47.046
year^2                0.1866      0.084      2.211      0.027       0.021       0.352
year^3               -0.0109      0.005     -2.299      0.022      -0.020      -0.002
year^4                0.0003      0.000      2.385      0.017    5.34e-05       0.001
month               -30.9881      0.876    -35.366      0.000     -32.705     -29.271
month^0.33         -264.1281      7.223    -36.569      0.000    -278.284    -249.972
month^0.5           229.9465      6.343     36.254      0.000     217.515     242.378
month^2               1.3171      0.039     33.767      0.000       1.241       1.394
month^3              -0.0621      0.002    -32.389      0.000      -0.066      -0.058
month^4               0.0014   4.43e-05     31.242      0.000       0.001       0.001
age_0-4              -1.0471      0.073    -14.364      0.000      -1.190      -0.904
age_5-9              -1.1168      0.073    -15.302      0.000      -1.260      -0.974
age_10-14            -1.1297      0.073    -15.476      0.000      -1.273      -0.987
age_15-19            -0.8073      0.073    -11.115      0.000      -0.950      -0.665
age_20-24            -0.4944      0.072     -6.833      0.000      -0.636      -0.353
age_25-29            -0.1601      0.072     -2.219      0.026      -0.302      -0.019
age_30-34             0.3011      0.072      4.182      0.000       0.160       0.442
age_35-39             0.8848      0.072     12.309      0.000       0.744       1.026
age_40-44             1.5853      0.072     22.078      0.000       1.445       1.726
age_45-49             2.3052      0.072     32.121      0.000       2.165       2.446
age_50-54             2.8926      0.072     40.314      0.000       2.752       3.033
age_55-59             3.2887      0.072     45.838      0.000       3.148       3.429
age_60-64             3.5457      0.072     49.423      0.000       3.405       3.686
age_65-69             3.6857      0.072     51.376      0.000       3.545       3.826
age_70-74             3.7668      0.072     52.507      0.000       3.626       3.907
age_75-79             3.8341      0.072     53.446      0.000       3.694       3.975
age_80-84             3.8177      0.072     53.216      0.000       3.677       3.958
age_85-89             3.5239      0.072     49.119      0.000       3.383       3.665
age_90-94             2.7729      0.072     38.644      0.000       2.632       2.913
age_95-99             1.4419      0.072     20.077      0.000       1.301       1.583
age_100 and over     -0.5600      0.072     -7.736      0.000      -0.702      -0.418
age_not_stated       -3.2850      0.117    -28.018      0.000      -3.515      -3.055
activity_0.0          3.6680      0.382      9.597      0.000       2.919       4.417
activity_1.0          3.8841      0.506      7.675      0.000       2.892       4.876
activity_2.0          3.3287      0.471      7.071      0.000       2.406       4.251
activity_3.0      -3.056e-13   2.18e-14    -14.030      0.000   -3.48e-13   -2.63e-13
activity_4.0          3.4198      0.356      9.616      0.000       2.723       4.117
activity_8.0      -4.431e-13   1.22e-14    -36.233      0.000   -4.67e-13   -4.19e-13
activity_9.0          3.7256      0.292     12.780      0.000       3.154       4.297
activity_10.0        11.0196      0.288     38.204      0.000      10.454      11.585
race_1                9.9138      0.394     25.179      0.000       9.142      10.686
race_2                7.9008      0.394     20.066      0.000       7.129       8.672
race_3                4.8565      0.394     12.334      0.000       4.085       5.628
race_4                6.3747      0.394     16.190      0.000       5.603       7.146
primary or less       6.5405      0.394     16.611      0.000       5.769       7.312
high school           9.5815      0.394     24.335      0.000       8.810      10.353
college or higher     7.4420      0.394     18.901      0.000       6.670       8.214
edu not stated        5.4818      0.394     13.922      0.000       4.710       6.254
=====================================================================================

In [27]:
#æƒ³çœ‹ç¬¬xç§ç—…çš„Î²ï¼Œ'ICD_x'
for i in np.unique(data['ICD'].values).tolist():
    table = shuffle(data[data['ICD']==i])
    X = table.iloc[:,:-2]
    y = table['occurence']
    X = sm.add_constant(X)
    model = sm.GLM(y, X, family=sm.families.Poisson()).fit()
    y_pred = model.predict(X)
    df.ix[y_pred.index,'model'] = y_pred

C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

PerfectSeparationError: Perfect separation detected, results not available

In [28]:
df.to_csv(r'C:\Final Project\Final Data\count with model.csv',index=False)

# Cross Validation

In [12]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.utils import shuffle
import statsmodels.api as sm
from sklearn.metrics import explained_variance_score,mean_squared_error,mean_absolute_error
from sklearn.model_selection import KFold

In [16]:
table = shuffle(data[data['ICD']==20])
kf = KFold(n_splits=5)
X = table.iloc[:,:-2]
X = sm.add_constant(X)
y = table['occurence']
fold_num = 0
for train, test in kf.split(table):
    x_train,x_test = X.iloc[train],X.iloc[test]
    y_train,y_test = y.iloc[train],y.iloc[test]
    model = sm.GLM(y_train,x_train, family=sm.families.Poisson()).fit()
    y_pred = model.predict(x_test)
    
    fold_num += 1
    print('Fold',fold_num)
    print('mean absolute error: ',mean_absolute_error(y_test, y_pred))
    print('mean error rate: ',mean_absolute_error(y_test/np.mean(y_test),y_pred/np.mean(y_test)))
    #print (model.summary())

Fold 1
mean absolute error:  9.342086149504137
mean error rate:  0.31704284363868007
Fold 2
mean absolute error:  9.554255406454802
mean error rate:  0.31786059476901396
Fold 3
mean absolute error:  9.461055126944405
mean error rate:  0.32988062412636476
Fold 4
mean absolute error:  9.510889352168105
mean error rate:  0.31547812685160137
Fold 5
mean absolute error:  9.48331101850124
mean error rate:  0.32104387439261506

In [33]:
y_test

143112      17
145265    2439
18689        3
300149      44
90079        9
378280       4
346188       7
230192      12
468331      19
73972        3
493451      14
479507       2
295436       1
281808      36
120508       1
325952       1
243558      11
226385       1
447405       2
307148       1
171765       5
430287      17
310764      87
339009     205
169438       4
440876       1
74482        1
158206       6
167396      49
164844       3
          ...
275203       1
398045      18
46851      187
147155       2
177666     234
387937       9
381832      25
73102       16
294715      12
31291        1
237189       9
54438        1
205722      69
261169    1336
449949       2
486986       2
182087      26
108791      10
488592      22
474849      26
317763     280
121944       1
83571        6
176369       1
258945       1
94330        2
300011      10
149573       1
40131      269
355685     159
Name: occurence, Length: 9439, dtype: int64

In [34]:
y_pred

143112      14.121153
145265    2333.067304
18689        1.052421
300149      33.671312
90079        4.171806
378280       5.027082
346188       8.629060
230192      15.198392
468331      43.365216
73972        0.471027
493451      10.642109
479507       1.014453
295436       2.894883
281808      45.667636
120508       1.734790
325952       2.922137
243558      13.680228
226385       4.069857
447405       5.746065
307148       0.313158
171765      14.769462
430287      19.626897
310764      35.029353
339009     208.777478
169438       6.952341
440876       3.392780
74482        0.153094
158206      17.496535
167396      60.174594
164844       0.867896
             ...
275203       1.770711
398045      24.918441
46851      180.393582
147155       3.064411
177666     318.613653
387937       9.673403
381832      32.050945
73102       14.003294
294715      39.213753
31291        0.854604
237189      15.269134
54438        1.054061
205722     114.603701
261169    1816.968829
449949       3.741183
486986       3.553721
182087      29.154481
108791       6.030694
488592      16.836935
474849      96.412862
317763     291.527246
121944       2.022118
83571        5.264984
176369       0.023170
258945       0.425898
94330        0.888376
300011      18.010863
149573       0.247610
40131      231.602271
355685      90.672718
Length: 9439, dtype: float64

In [35]:
df

,sex,current_data_year,month_of_death,age,education,activity,race,ICD,occurence,model
0,F,2005,1,1,0.0,9.0,1,20,48,3.277555
1,F,2005,1,1,0.0,9.0,2,20,22,0.541645
2,F,2005,1,1,0.0,9.0,3,20,1,0.070036
3,F,2005,1,1,0.0,9.0,4,20,1,0.091206
4,F,2005,1,1,0.0,10.0,1,1,8,1.614761
5,F,2005,1,1,0.0,10.0,1,2,11,0.870571
6,F,2005,1,1,0.0,10.0,1,3,2,0.816191
7,F,2005,1,1,0.0,10.0,1,4,6,0.914781
8,F,2005,1,1,0.0,10.0,1,6,12,1.672915
9,F,2005,1,1,0.0,10.0,1,9,13,2.097077
10,F,2005,1,1,0.0,10.0,1,10,12,2.897485
11,F,2005,1,1,0.0,10.0,1,11,12,0.916565
12,F,2005,1,1,0.0,10.0,1,14,5,0.600484
13,F,2005,1,1,0.0,10.0,1,16,180,100.988175
14,F,2005,1,1,0.0,10.0,1,17,114,49.354448
15,F,2005,1,1,0.0,10.0,1,18,48,13.675716
16,F,2005,1,1,0.0,10.0,2,1,8,0.447810
17,F,2005,1,1,0.0,10.0,2,2,1,0.116291
18,F,2005,1,1,0.0,10.0,2,3,1,0.281946
19,F,2005,1,1,0.0,10.0,2,4,1,0.186608
20,F,2005,1,1,0.0,10.0,2,6,4,0.144502
21,F,2005,1,1,0.0,10.0,2,9,5,0.294391
22,F,2005,1,1,0.0,10.0,2,10,8,0.249935
23,F,2005,1,1,0.0,10.0,2,11,6,0.107448
24,F,2005,1,1,0.0,10.0,2,14,3,0.122959
25,F,2005,1,1,0.0,10.0,2,16,103,57.099006
26,F,2005,1,1,0.0,10.0,2,17,31,13.580244
27,F,2005,1,1,0.0,10.0,2,18,29,2.346225
28,F,2005,1,1,0.0,10.0,3,1,1,0.028186
29,F,2005,1,1,0.0,10.0,3,9,1,0.012595
...,...,...,...,...,...,...,...,...,...,...
499775,M,2014,12,21,1.0,10.0,1,18,17,35.271097
499776,M,2014,12,21,1.0,10.0,2,1,1,3.110175
499777,M,2014,12,21,1.0,10.0,2,2,6,4.621037
499778,M,2014,12,21,1.0,10.0,2,5,2,9.371177
499779,M,2014,12,21,1.0,10.0,2,6,3,5.558495
499780,M,2014,12,21,1.0,10.0,2,9,13,48.053984
499781,M,2014,12,21,1.0,10.0,2,10,2,6.575780
499782,M,2014,12,21,1.0,10.0,2,14,3,4.354331
499783,M,2014,12,21,1.0,10.0,2,18,1,6.051160
499784,M,2014,12,21,1.0,10.0,4,1,1,0.371762
499785,M,2014,12,21,1.0,10.0,4,2,2,1.004581
499786,M,2014,12,21,1.0,10.0,4,4,1,0.771329
499787,M,2014,12,21,1.0,10.0,4,5,1,1.734814
499788,M,2014,12,21,1.0,10.0,4,6,2,1.257639
499789,M,2014,12,21,1.0,10.0,4,9,6,8.677490
499790,M,2014,12,21,1.0,10.0,4,10,2,1.574699
499791,M,2014,12,21,1.0,10.0,4,11,1,0.457862
499792,M,2014,12,21,1.0,10.0,4,14,1,0.646458
499793,M,2014,12,21,2.0,10.0,1,5,1,9.422356
499794,M,2014,12,21,2.0,10.0,1,9,2,33.062593
499795,M,2014,12,21,2.0,10.0,1,10,3,6.908641
499796,M,2014,12,21,2.0,10.0,1,14,1,2.258843
499797,M,2014,12,21,3.0,10.0,1,10,2,1.555583
499798,M,2014,12,22,1.0,9.0,1,20,1,7.624778
499799,M,2014,12,22,1.0,10.0,1,9,2,3.127723
499800,M,2014,12,22,1.0,10.0,1,11,1,1.920671
499801,M,2014,12,22,1.0,10.0,1,18,5,5.302171
499802,M,2014,12,22,1.0,10.0,2,9,2,0.439074
499803,M,2014,12,22,1.0,10.0,2,10,1,0.200225
499804,M,2014,12,22,1.0,10.0,2,11,1,0.225159

# Prediction

In [36]:
table = shuffle(data[data['ICD']==6])
X = table.iloc[:,:-2]
y = table['occurence']
X = sm.add_constant(X)
model = sm.GLM(y, X, family=sm.families.Poisson()).fit()
print (model.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:              occurence   No. Observations:                35454
Model:                            GLM   Df Residuals:                    35407
Model Family:                 Poisson   Df Model:                           46
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.8887e+05
Date:                Sun, 08 Dec 2019   Deviance:                   2.4948e+05
Time:                        15:06:56   Pearson chi2:                 3.86e+05
No. Iterations:                   100   Covariance Type:             nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                42.0430      3.289     12.784      0.000      35.597      48.489
sex_F                21.2245      1.644     12.908      0.000      18.002      24.447
sex_M                20.8186      1.644     12.661      0.000      17.596      24.041
year                -10.8486      3.504     -3.096      0.002     -17.717      -3.981
year^0.33           -85.0916     27.129     -3.137      0.002    -138.263     -31.921
year^0.5             75.5422     24.181      3.124      0.002      28.148     122.936
year^2                0.5534      0.174      3.177      0.001       0.212       0.895
year^3               -0.0331      0.010     -3.411      0.001      -0.052      -0.014
year^4                0.0010      0.000      3.787      0.000       0.000       0.001
month               -37.4795      1.787    -20.971      0.000     -40.982     -33.977
month^0.33         -321.9872     14.707    -21.894      0.000    -350.812    -293.163
month^0.5           280.0532     12.920     21.675      0.000     254.730     305.377
month^2               1.5296      0.080     19.185      0.000       1.373       1.686
month^3              -0.0676      0.004    -17.219      0.000      -0.075      -0.060
month^4               0.0014   9.08e-05     15.530      0.000       0.001       0.002
age_0-4               0.8132      0.150      5.410      0.000       0.519       1.108
age_5-9              -0.1877      0.151     -1.241      0.215      -0.484       0.109
age_10-14            -0.0346      0.151     -0.229      0.819      -0.331       0.261
age_15-19             0.4460      0.151      2.962      0.003       0.151       0.741
age_20-24             0.6583      0.150      4.377      0.000       0.364       0.953
age_25-29             0.6108      0.150      4.061      0.000       0.316       0.906
age_30-34             0.6769      0.150      4.502      0.000       0.382       0.972
age_35-39             0.9295      0.150      6.187      0.000       0.635       1.224
age_40-44             1.3477      0.150      8.980      0.000       1.054       1.642
age_45-49             1.7915      0.150     11.944      0.000       1.498       2.085
age_50-54             2.1619      0.150     14.419      0.000       1.868       2.456
age_55-59             2.4398      0.150     16.276      0.000       2.146       2.734
age_60-64             2.6868      0.150     17.926      0.000       2.393       2.981
age_65-69             2.9370      0.150     19.597      0.000       2.643       3.231
age_70-74             3.3558      0.150     22.395      0.000       3.062       3.650
age_75-79             3.9375      0.150     26.279      0.000       3.644       4.231
age_80-84             4.4288      0.150     29.559      0.000       4.135       4.722
age_85-89             4.6305      0.150     30.906      0.000       4.337       4.924
age_90-94             4.3471      0.150     29.014      0.000       4.053       4.641
age_95-99             3.4365      0.150     22.933      0.000       3.143       3.730
age_100 and over      1.8105      0.150     12.071      0.000       1.516       2.104
age_not_stated       -1.1808      0.257     -4.602      0.000      -1.684      -0.678
activity_0.0          4.7047      0.523      8.987      0.000       3.679       5.731
activity_1.0          8.3218      0.988      8.424      0.000       6.386      10.258
activity_2.0          4.5128      0.544      8.296      0.000       3.447       5.579
activity_3.0      -2.563e-13    1.2e-13     -2.144      0.032   -4.91e-13   -2.19e-14
activity_4.0          4.5481      0.510      8.911      0.000       3.548       5.548
activity_8.0          4.2614      0.590      7.223      0.000       3.105       5.418
activity_9.0          4.7983      0.495      9.698      0.000       3.829       5.768
activity_10.0        10.8958      0.493     22.080      0.000       9.929      11.863
race_1               13.3884      0.822     16.284      0.000      11.777      15.000
race_2               10.9394      0.822     13.305      0.000       9.328      12.551
race_3                8.2620      0.822     10.048      0.000       6.650       9.874
race_4                9.4533      0.822     11.498      0.000       7.842      11.065
primary or less       9.9764      0.822     12.134      0.000       8.365      11.588
high school          12.6993      0.822     15.446      0.000      11.088      14.311
college or higher    10.5384      0.822     12.818      0.000       8.927      12.150
edu not stated        8.8289      0.822     10.738      0.000       7.217      10.440
=====================================================================================

In [82]:
df_2015 = X[(X['year']==10)]
year = 13
df_2015['year']=year
df_2015['year^0.33']=year**(0.33)
df_2015['year^0.5']=year**(0.5)
df_2015['year^2']=year**2
df_2015['year^3']=year**3
df_2015['year^4']=year**4
df_2015['prediction'] = model.predict(df_2015)

C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\peixun\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [83]:
np.sum(df_2015['prediction'])

513905.99633815076